@using WebApplication1.Models

<div>
    <label>內容:</label>
    <input id="content" type="text" />
    <button type="button" id="btn" class="btn btn-primary">新增</button>
<div>

<div>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>內容</th>
            <th>動作</th>
        </tr>
            @if(Model != null)
            {
                foreach (var item in Model)
                {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td><button class="btn btn-danger" type="button" onclick="delete_user(@item.id)">刪除</button></td>
                        </tr>
                }
            }
    </table>
</div>

<script>
    $("#btn").click(function (){
        let content = $("#content").val();
        if(content == ''){
            swal('錯誤', '請輸入內容', 'error');
        }
        else{
            $.ajax({
                url : '@Url.Action("Add", "Chat")',
                data : { "name" : content },
                type : "POST",
                success : function(data){
                    swal('新增成功', '', 'success').then(function(){
                        location.href = '@Url.Action("Index", "Chat")'
                    })
                }
            })
        }
    })

    function delete_user(id){
        $.ajax({
            url : '@Url.Action("Delete", "Chat")',
            data : { "id" : id },
            type : "POST",
            success : function(data){
                location.href = '@Url.Action("Index", "Chat")'
            }
        });
    }
</script>