@using WebApplication1.Models


<label>NAME:</label>
<input id="content" type="text" />
<button type="button" id="btn" class="btn btn-primary">ADD</button>

<div>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>內容</th>
            <th>動作</th>
        </tr>
            @if(Model != null)
            {
                foreach (var item in Model)
                {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td><button class="btn btn-danger" type="button" onclick="delete_user(@item.id)">DELETE</button></td>
                        </tr>
                }
            }
    </table>
</div>

<script>
    $("#btn").click(function (){
        let title = $("#title").val();
        let content = $("#content").val();
        if(content == ''){
            swal('ERROR', '', 'error');
            return;
        }
        $.ajax({
            url : '@Url.Action("Add", "Chat")',
            data : { "name" : content },
            type : "POST",
            success : function(data){
                location.href = '@Url.Action("Index", "Chat")'
            }
        })
    })

    function delete_user(id){
        $.ajax({
            url : '@Url.Action("Delete", "Chat")',
            data : { "id" : id },
            type : "POST",
            success : function(data){
                location.href = '@Url.Action("Index", "Chat")'
            }
        });
    }
</script>