<div>
    <table class="table">
        <tr>
            <th>編號</th>
            <th>內容</th>
            <th>操作</th>
        </tr>
            @if(Model != null)
            {
                foreach (var item in Model.Chat_List)
                {
                    <tr>
                        <td id="id">@item.id</td>
                        <td><div id="name">@item.content</div></td>
                        <td>
                            <div id="operate">
                                <button class="btn btn-secondary" type="button" onclick="Edit(this)">修改</button>
                                <button class="btn btn-danger" type="button" onclick="delete_user(@item.id)">刪除</button>
                            </div>
                            <div id="edit" class="d-none">
                                <button class="btn btn-success" type="button" onclick="Modify(this)">儲存</button>
                                <button class="btn btn-secondary" type="button" onclick="Cancel(this)">取消</button>
                            </div>
                        </td>
                    </tr>
                }
            }
    </table>
</div>

@* AddModal *@
<partial name="./Add" />

<script>
    function delete_user(id){
        swal({
            title: "確定刪除?",
            text: "刪除之後將無法復原",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then(willDelete => {
            if(willDelete){
                $.ajax({
                    url : '@Url.Action("Delete", "Chat")',
                    data : { "id" : id },
                    type : "POST",
                    success : function(data){
                        if(data.result == "success"){
                            swal('刪除成功', '', 'success').then(function(){
                                location.href = '@Url.Action("Index", "Chat")'
                            })
                        }
                        else{
                            swal('刪除失敗', data.message, 'error').then(function(){
                                location.href = '@Url.Action("Index", "Chat")'
                            })
                        }
                        
                    }
                });
            }
        })
        
    }

    function Edit(btn){
        let tr = btn.closest("tr")
        let name = tr.querySelector("#name")
        let name_value = name.innerHTML
        name.innerHTML = `<input class="form-control" id="modify_name" value=${name_value} />`
        tr.querySelector("#operate").setAttribute("class", "d-none")
        tr.querySelector("#edit").setAttribute("class", "")
    }

    function Modify(btn){
        let tr = btn.closest("tr")
        $.ajax({
            url: "@Url.Action("Modify", "Chat")",
            type: "POST",
            data: { "id" : tr.querySelector("#id").innerHTML, "content" : tr.querySelector("#modify_name").value },
            success: function(data){
                if(data.result == "success"){
                    swal('修改成功', '', 'success').then(function(){
                        location.href = '@Url.Action("Index", "Chat")'
                    })
                }
                else{
                    swal('修改失敗', data.message, 'error').then(function(){
                        location.href = '@Url.Action("Index", "Chat")'
                    })
                }
            }
        })
    }

    function Cancel(btn){
        let tr = btn.closest("tr")
        tr.querySelector("#name").innerHTML = `${tr.querySelector("#modify_name").value}`
        tr.querySelector("#operate").setAttribute("class", "")
        tr.querySelector("#edit").setAttribute("class", "d-none")
    }
</script>